# Gradle Cache
.gradle

# Gradle Wrapper
/gradle
/gradlew
/gradlew.bat

# Local gradle settings
/local.properties

/.kotlin

/.idea
*.iml

.DS_Store

/build
*/build

/captures
.externalNativeBuild

/app/release
/app/*/release

/*.tar

/tests-*
