<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.efdis.tangenerator">

    <!--
        Permission to push a QR code into this app.

        Calling this app from another app on the same device could be used as part of a phishing
        attack. Thus, it is only allowed for other apps by the same publisher.

        The permission can be used by a banking app to use activeTAN on the same device. Customer
        authentication on a multi-purpose device falls under the commission delegated regulation
        (EU) 2018/389 Article 9(3) supplementing PSD2. To comply with regulatory standards, using a
        banking app on the local device together with this app must implement additional security
        measures. Since this may only be ensured for own apps, we can give permission to apps with
        the same signature only.
    -->
    <permission android:name="${applicationId}.PUSH"
        android:protectionLevel="signature" />

    <queries>
        <!--
            We communicate with the banking app (read QR code and write TAN response) with a content
            provider.  However, that content provider is not exported and we are granted explicit
            permission by the calling activity to access the challenge data.  Thus, we do not need
            to query for the provider @string/banking_app_provider.
        -->
    </queries>

    <!-- Camera is used to scan QR codes -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Network communication is used temporarily during initialization -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        The back-facing camera is required to scan QR codes properly.
        The front-facing camera makes it difficult to align the device properly while scanning.
        An external camera would compromise security,
        since the QR code could be scanned from the same device.
    -->
    <uses-feature android:name="android.hardware.camera"
        android:required="true"
        />

    <!-- Autofocus simplifies and quickens QR code reading -->
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false"
        />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">

        <activity android:name=".gui.misc.MainActivity"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.misc.WelcomeActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.transaction.VerifyTransactionDetailsActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.initialization.InitializeTokenActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.instruction.InstructionActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.settings.SettingsActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.misc.CopyrightActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.misc.PrivacyStatementActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.misc.ImprintActivity"
            android:parentActivityName=".gui.misc.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".api.BankingAppApi"
            android:screenOrientation="portrait"
            android:permission="${applicationId}.PUSH"
            android:enabled="@bool/banking_app_enabled"
            >
            <intent-filter>
                <action android:name="de.efdis.activeTAN.PUSH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/json"
                    android:host="@string/banking_app_provider"
                    />
            </intent-filter>
        </activity>

    </application>

</manifest>